stage/jFed Andreas/rspecedit_jfx/src/main/resources/be/iminds/ilabt/jfed/ui/rspeceditor/rspec_ext/jfed.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://jfed.iminds.be/rspec/ext/jfed/1"
           xmlns="http://jfed.iminds.be/rspec/ext/jfed/1"
           elementFormDefault="qualified">
    <xs:element name="location">
        <xs:complexType>
            <xs:attribute name="x" type="xs:double"/>
            <xs:attribute name="y" type="xs:double"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
